version: '3.4'

services:
  catalogue.service:
    image: ${DOCKER_REGISTRY-}api
    build:
      context: .
      dockerfile: API/Dockerfile

  rent.service:
    image: ${DOCKER_REGISTRY-}rent.api
    build:
      context: ../Rent-n-Ride-RentService/
      dockerfile: /Rent.API/Dockerfile

  user.service:
    image: ${DOCKER_REGISTRY-}user.api
    build:
      context: ../Rent-n-Ride-UserService/
      dockerfile: /User.API/Dockerfile

  postgres.db:
    image: postgres
    restart: always

  redis:
    image: redis:latest
    container_name: redis